@model WmsCore.Models.Supplier

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Dostawca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
            @Html.DisplayFor(model => model.Address.Street)
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SupplierId" class="btn btn-sm btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-sm btn-secondary">Powrót</a>
</div>
