@model IEnumerable<WmsCore.Models.Document>

@{
    ViewData["Title"] = "Index";
}

<h1>Dokumenty</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayName("Ilość artykułów")
            </th>
            <th>
                @Html.DisplayName("Wartość artykułów")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    @(item.DocumentInstruments?.Sum(i => i.Quantity) ?? 0)
            </td>
            <td>
                @(item.DocumentInstruments?.Sum(i => i.Instrument.Price * i.Quantity) ?? 0)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocumentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DocumentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DocumentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
