@model IEnumerable<WmsCore.Models.Document>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row">
    <!-- PRZYJĘCIA -->
    <div class="col-md-6">
        <h5 class="mb-3">Przyjęcia</h5>

        <div class="d-flex align-items-start gap-2 flex-wrap">
            <a asp-action="Create"
               asp-route-type="PZ"
               class="btn btn-outline-primary">
                Przyjęcie zewnętrzne (PZ)
            </a>

            <a asp-action="Create"
               asp-route-type="PW"
               class="btn btn-outline-primary">
                Przyjęcie wewnętrzne (PW)
            </a>
        </div>
    </div>

    <!-- WYDANIA -->
    <div class="col-md-6">
        <h5 class="mb-3">Wydania</h5>

        <div class="d-flex align-items-start gap-2 flex-wrap">
            <a asp-action="Create"
               asp-route-type="WZ"
               class="btn btn-outline-primary">
                Wydanie zewnętrzne (WZ)
            </a>

            <a asp-action="Create"
               asp-route-type="RW"
               class="btn btn-outline-primary">
                Rozchód wewnętrzny (RW)
            </a>
        </div>
    </div>
</div>

<table class="table mt-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostInvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostInvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocumentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DocumentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DocumentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
