@model WmsCore.Models.InstrumentFeature

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InstrumentFeature</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instrument.InstrumentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeatureDefinition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeatureDefinition.FeatureDefinitionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InstrumentFeatureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
