@model WmsCore.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Artykuł</h4>
    <hr />
    <div class="row">
    <dl class="col-9">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NetPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NetPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VatRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VatRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GrossPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GrossPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EAN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EAN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
    <div class="col-3">
            @if (Model != null && Model.Attributes != null && Model.Attributes.Count > 0)
            {
                <h3>Atrybuty</h3>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Definicja</th>
                            <th>Wartość</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Attributes.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Model.Attributes[i].AtrDefinition.Name
                                </td>
                                <td>
                                    @Model.Attributes[i].Value
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArticleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
