@model WmsCore.Models.Instrument

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Instrument</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EAN)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EAN)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SKU)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SKU)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Supplier)
                    </dt>
                    <dd class="col-sm-10">
                        @(Model.Supplier?.Name ?? "Brak przypisanego dostawcy") <!-- Zabezpieczenie przed supplier = null-->
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Category.Name)
                    </dd>
                </dl>
            </div>



            <!-- Prawa kolumna: tabela z cechami instrumentu -->
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header bg-light">
                        <strong>Cechy szczegółowe</strong>
                    </div>
                    <div class="card-body p-0">
                        @if (Model.InstrumentFeatures != null && Model.InstrumentFeatures.Any())
                        {
                            <table class="table table-striped mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Nazwa cechy</th>
                                        <th>Wartość</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var feat in Model.InstrumentFeatures)
                                    {
                                        <tr>
                                            <td>
                                                @feat.FeatureDefinition?.Name
                                            </td>
                                            <td>
                                                @feat.Value
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="p-3">
                                <em>Brak przypisanych cech dla tego instrumentu.</em>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InstrumentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-sm btn-secondary">Powrót</a>
    </form>

</div>
