@model List<DocumentItem>

@{
    ViewData["Title"] = "Create";
    int i = 0;
}

<h1>Create</h1>

<h4>DocumentItem</h4>
<hr />
<form asp-action="Create">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Item.Code)</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Item.Acronym)</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Item.Name)</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Item.Price)</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Item.Description)</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Item.EAN)</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Item.Category.Name)</th>
                <th>Ilość</th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].Item.Code</td>
                    <td>@Model[i].Item.Acronym</td>
                    <td>@Model[i].Item.Name</td>
                    <td>@Model[i].Item.Price</td>
                    <td>@Model[i].Item.Description</td>
                    <td>@Model[i].Item.EAN</td>
                    <td>@Model[i].Item.Category.Name</td>

                    <td>
                        <input asp-for="@Model[i].Quantity" class="form-control" />
                        <span asp-validation-for="@Model[i].Quantity" class="text-danger"></span>

                        <!-- WAZNE: ukryte pola -->
                        <input asp-for="@Model[i].ItemId" type="hidden" />
                        <input asp-for="@Model[i].DocumentId" type="hidden" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group">
        <input type="submit" value="Zapisz" class="btn btn-primary" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
