@model List<DocumentItem>

@{
    ViewData["Title"] = "Create";
    int i = 0;
}

<h1>Create</h1>

<h4>DocumentItem</h4>
<hr />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Create">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Article.Code)</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Article.Name)</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Article.NetPrice)</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Article.Description)</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Article.EAN)</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Article.Category.Name)</th>
                <th>Ilość</th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].Article.Code</td>
                    <td>@Model[i].Article.Name</td>
                    <td>@Model[i].Article.NetPrice</td>
                    <td>@Model[i].Article.Description</td>
                    <td>@Model[i].Article.EAN</td>
                    <td>@Model[i].Article.Category.Name</td>

                    <td>
                        @if (Model[i].Article.Unit != "szt.")
                        {
                            <input asp-for="@Model[i].Quantity" type="number" class="form-control" step="1" placeholder="000.1" />
                        }
                        else
                        {
                            <input asp-for="@Model[i].Quantity" type="number" class="form-control" />
                        }
                        <span asp-validation-for="@Model[i].Quantity" class="text-danger"></span>
                    </td>
                    <td>@Model[i].Article.Unit</td>
                    <!-- WAZNE: ukryte pola -->
                    <input asp-for="@Model[i].ArticleId" type="hidden" />
                    <input asp-for="@Model[i].DocumentId" type="hidden" />

                </tr>
            }
        </tbody>
    </table>

    <div class="form-group">
        <input type="submit" value="Zapisz" class="btn btn-primary" />
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <!-- WAŻNE umożliwa polskie formaty liczb czyli przecinek w liczbach zmiennoprzecinkowych-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/localization/messages_pl.min.js"></script>
    }
}
