@model WmsCore.Models.DocumentItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DocumentItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document.DocumentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Article)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Article.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Article.Unit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DocumentItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
