@using WmsCore.ViewModels
@model DocumentItemsViewModel

@{
    ViewData["Title"] = "Index";
    var selectedIds = Model.SelectedArticles as List<int> ?? new List<int>();
    var visibleItems = Model.Articles.Select(i => i.ArticleId);
    var hiddenItems = selectedIds.Except(visibleItems);
}
<h1> Wybór pozycji dokumentu </h1>
@if (Model.DocumentType != null)
{
    <div class="alert alert-info">
        Typ dokumentu: <strong>@Model.DocumentType</strong>
    </div>
}
<p>
    <form asp-action="Index" method="get" class="form-inline mb-3">
        <!-- Filtry -->
        <p class="mb-0">
            <!-- Pole wyszukiwania -->
            <label class="mr-2">
                Szukana nazwa:
                <input asp-for="SearchString"
                       class="form-control form-control-sm ml-1"
                       style="width: 200px;" />
            </label>
            <!-- Dropdown kategorii -->
            <label class="ml-3 mr-2">
                kategoria:
                <select name="CategoryId"
                        class="form-control form-control-sm ml-1"
                        style="width: 180px;">
                    <option value="">Wszystkie</option>
                    @foreach (SelectListItem cat in Model.CategoryList)
                    {
                        <option value="@cat.Value" selected="@(cat.Selected ? "selected" : null)">
                            @cat.Text
                        </option>
                    }
                </select>
            </label>

            <button type="submit" class="btn btn-default">Szukaj</button>   |
            <a asp-action="Index" asp-route-documentId="@Model.DocumentId">Wyczyść</a>
        </p>


        <table class="table">
            <thead>
                <tr>
                    <th>
                        <button type="submit"
                                name="sortOrder"
                                value="@ViewData["CodeSortParam"]"
                                class="btn btn-link p-0">
                            Kod
                        </button>
                    </th>
                    <th>
                        <button type="submit"
                                name="SortOrder"
                                value="@ViewData["NameSortParam"]"
                                class="btn btn-link p-0">
                            Nazwa
                        </button>
                    </th>
                    <th>
                        <button type="submit"
                                name="sortOrder"
                                value="@ViewData["PriceSortParam"]"
                                class="btn btn-link p-0">
                            Cena Netto
                        </button>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles[0].GrossPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles[0].EAN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles[0].Category)
                    </th>
                    <th>
                        Zaznacz
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Articles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NetPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GrossPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EAN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            <input type="checkbox"
                                   class="big-checkbox"
                                   name="SelectedArticles"
                                   value="@item.ArticleId"
                                   @(Model.SelectedArticles.Contains(item.ArticleId) ? "checked" : "") />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- Przekazanie id dokumentu oraz typu-->
        <input type="hidden" name="DocumentId" value="@Model.DocumentId" />
        <input type="hidden" name="DocumentType" value="@Model.DocumentType" />
        <!-- Obsługa zapamiętywania zaznaczonych wcześniej pozycji-->
        @foreach (var id in hiddenItems)
        {
            <input type="hidden" name="SelectedArticles" value="@id" />
        }

        @{
            var prevDisabled = !Model.Articles.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Articles.HasNextPage ? "disabled" : "";
        }
        <div>
            <button type="submit"
                    name="pageNumber"
                    value="@(Model.Articles.PageIndex - 1)"
                class="btn btn-default @prevDisabled">
                &lArr; Poprzednia
            </button>
            <button type="submit"
                    name="pageNumber"
                    value="@(Model.Articles.PageIndex + 1)"
                class="btn btn-default @nextDisabled">
                Następna &rArr;
            </button>
        </div>
        <div class="mt-5">
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger mt-3">
                    @TempData["ErrorMessage"]
                </div>
            }

            <input style="padding-inline: 20px" type="submit" asp-controller="DocumentItems" asp-action="Create" value="Dalej" class="btn btn-primary" />
        </div>
    </form>
